* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --void: #000;
  --bright: #fff;
  --dark: #333;
  --mid: #666;
  --light: #9e9e9e;
  --font-size: 16px;
}

@font-face {
  font-family: "Didact Gothic";
  src: url(../font/Didact_Gothic/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "Fjalla One";
  src: url(../font/Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: "Work Sans";
  src: url(../font/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

html {
}

h1 {
  font-family: "Didact Gothic";
  font-size: 100px;
  font-weight: 100px;
  letter-spacing: -2px;
  margin: 30px;
}

h2 {
  font-family: "Didact Gothic";
  font-size: 112px;
  padding: 50px 0 50px 0;
  letter-spacing: -2px;
}

.content {
  margin: 0 auto;
  padding: 150px 220px;
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content p {
  font-family: "Work Sans";
  font-size: 20px;
}

/* Strich vor der Jahreszahl */
.Year::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 2px;
  margin-right: 8px;
  vertical-align: middle;
}

button {
  border-width: 2px;
  border-style: solid;
  padding: 15px 20px;
  margin: 100px 0;
  background-color: transparent;
  font-family: "Fjalla One";
}

p.number {
  font-size: 165px;
  opacity: 50%;
  font-family: "Fjalla One";
  text-align: end;
}

/* !=============Color Scheme: Dark=============== */
.dark p {
  color: var(--light);
}
.dark h2 {
  color: var(--bright);
}
.dark button {
  border-color: var(--light);
  color: var(--bright);
}
.dark .Year::before {
  background-color: var(--light);
}

/* !=============Color Scheme: Light=============== */

.light p {
  color: var(--mid);
}
.light h2 {
  color: var(--void);
}
.light button {
  border-color: var(--void);
  color: var(--void);
}
.light .Year::before {
  background-color: var(--mid);
}

/* #==============Sections=============== */

#hero {
  text-align: center;
  margin: 20px;
}
#hero p {
  font-family: "Work Sans";
}
#hero p:nth-of-type(1) {
  font-size: 20px;
}
#hero p:nth-of-type(2) {
  margin: 50px;
  font-size: 160px;
}

#ORBIS {
  background-image: url("../img/portfolio2.jpg");
}

#ROLLR {
  background-image: url("../img/portfolio3.png");
}

#GALITOS {
  background-image: url("../img/portfolio4.jpg");
}

#TRETTO {
  background-image: url("../img/portfolio5.png");
}

#more {
  background-color: var(--void);
}

#more h2 {
  font-size: 180px;
  font-family: "Work Sans";
  font-weight: 300;

  color: var(--bright);
}
#more p {
  color: var(--mid);
}
